# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg


# For vim:
*.swp

# For redcar:
#.redcar

# For rubinius:
#*.rbc
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
